.country-page-top {
  position: relative;
}

.world-map-img {
  margin-left: 10%;
  width: 80%;
  height: 12rem;
}

.search-bar {
  position: absolute;
  top: 40%;
  left: 35%;
  width: 30%;
  text-align: center;
  padding: 1rem;
  outline: none;
  background: none;
  border: 1px solid #3460c7;
}

.search-bar::placeholder {
  font-size: 1rem;
  color: #2c50a6;
}

.country-page-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 3rem;
  border-bottom: 2px solid #3460c7;
  border-top: 2px solid #3460c7;
  background-color: #3460c74f;
}

.country-page-center > h3 {
  margin: 0;
  color: #2c50a6;
}

.country-page-center > .dropdown {
  width: 60%;
  font-size: 1rem;
  color: #2c50a6;
  padding: 0.5rem;
  outline: none;
  background-color: #f2f3f7;
  border: 1px solid #3460c7;
}

.list-countries-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 1rem;
  gap: 1.5rem;
}

.list-countries {
  text-align: center;
  width: 10rem;
  height: 10rem;
  box-shadow: 0 4px 8px rgba(16, 90, 122, 0.897);
  background-color: #f2f3f7;
}

.list-countries a {
  color: #2c50a6;
  text-decoration: none;
}

.list-countries a:visited {
  color: #2c50a6;
}

.national-flag {
  margin-top: 0.2rem;
  width: 5rem;
  height: 4rem;
}

.country-name-display {
  text-align: center;
  font-size: 1rem;
  margin: -0.2rem 0;
}

.continent-name {
  font-size: 0.8rem;
  margin: -0.1rem;
}

.country-area {
  font-size: 0.8rem;
}
